---
import BaseLayout from "@/layouts/BaseLayout.astro";
import H1 from "@/components/H1.astro";
import Footer from "@/components/Footer.astro";
import { formatDate } from "@/lib/utils";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const articles = (await getCollection("articles"))
  .filter((article) => !article.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const categories = Array.from(
  new Set(articles.flatMap((article) => article.data.categories))
).sort();
---

<BaseLayout
  title="Blog - Hugo Charrade, Full-Stack Developer"
  description="Read the latest articles and insights from Hugo Charrade, a Full-Stack Developer specializing in building fast and scalable web applications."
>
  <main>
    <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
      <H1>Blog</H1>

      <div class="space-y-4 sm:space-y-12 mt-4">
        <ul class="flex items-center gap-4">
          <li>
            <a
              href="/blog"
              class="w-fit px-4 py-1 text-sm bg-transparent rounded-full transition-all duration-300 ease-in-out text-white bg-zinc-100/20 outline outline-2 outline-offset-2 outline-zinc-100/20"
            >
              All
            </a>
          </li>
          {
            categories.map((category) => (
              <li>
                <a
                  href={`/blog/category/${category}`}
                  class="w-fit px-4 py-1 text-sm bg-transparent rounded-full transition-all duration-300 ease-in-out text-zinc-400 hover:text-zinc-200"
                >
                  {category}
                </a>
              </li>
            ))
          }
        </ul>

        <ul class="space-y-6">
          {
            articles.map((article) => (
              <li>
                <a
                  href={`/blog/${article.id}`}
                  class="flex flex-col sm:flex-row gap-4 group"
                >
                  <div class="sm:w-48 sm:h-32 w-full h-48 shrink-0 overflow-hidden rounded-md bg-zinc-900">
                    <Image
                      src={article.data.cover}
                      alt={article.data.coverAlt}
                      width={800}
                      height={400}
                      class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
                    />
                  </div>
                  <div class="flex-1 space-y-2 min-w-0">
                    <h2 class="text-xl xl:text-2xl text-zinc-300 group-hover:text-white text-balance font-medium underline group-hover:underline-offset-2 decoration-transparent group-hover:decoration-zinc-500">
                      {article.data.title}
                    </h2>
                    <p class="text-base text-zinc-400">
                      {article.data.description}
                    </p>
                    <p class="text-sm text-zinc-500">
                      {formatDate(article.data.pubDate)}
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <Footer />
    </div>
  </main>
</BaseLayout>
