---
import ContentLayout from "@/layouts/ContentLayout.astro";
import H1 from "@/components/H1.astro";
import CategoryFilter from "@/components/CategoryFilter.astro";
import ArticleCard from "@/components/ArticleCard.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const articles = (await getCollection("articles")).filter(
    (article) => !article.data.isDraft
  );

  const categories = new Set<string>();
  articles.forEach((article) => {
    article.data.categories.forEach((cat) => categories.add(cat));
  });

  const allCategories = Array.from(categories).sort();

  return allCategories.map((category) => ({
    params: { category },
    props: {
      articles: articles
        .filter((article) => article.data.categories.includes(category))
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
      allCategories,
    },
  }));
}

const { category } = Astro.params;
const { articles, allCategories } = Astro.props;
---

<ContentLayout
  title={`Blog: ${category} - Hugo Charrade, Full-Stack Developer`}
  description={`Articles about ${category} by Hugo Charrade, a Full-Stack Developer specializing in building fast and scalable web applications.`}
>
  <H1>Blog: {category}</H1>

  <div class="space-y-4 sm:space-y-12 mt-4">
    <CategoryFilter
      categories={allCategories}
      currentCategory={category}
      basePath="/blog"
    />

    <ul class="space-y-6">
      {
        articles.map((article) => (
          <li>
            <ArticleCard article={article} />
          </li>
        ))
      }
    </ul>
  </div>
</ContentLayout>
