---
import ContentLayout from "@/layouts/ContentLayout.astro";
import H1 from "@/components/H1.astro";
import CategoryFilter from "@/components/CategoryFilter.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const projects = (await getCollection("projects")).filter(
    (project) => !project.data.isDraft
  );

  const categories = new Set<string>();
  projects.forEach((project) => {
    project.data.categories.forEach((cat) => categories.add(cat));
  });

  const allCategories = Array.from(categories).sort();

  return allCategories.map((category) => ({
    params: { category },
    props: {
      projects: projects
        .filter((project) => project.data.categories.includes(category))
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()),
      allCategories,
    },
  }));
}

const { category } = Astro.params;
const { projects, allCategories } = Astro.props;
---

<ContentLayout
  title={`Projects: ${category} - Hugo Charrade, Full-Stack Developer`}
  description={`Projects about ${category} by Hugo Charrade, a Full-Stack Developer specializing in building fast and scalable web applications.`}
>
  <H1>Projects: {category}</H1>

  <div class="space-y-4 sm:space-y-12 mt-4">
    <CategoryFilter
      categories={allCategories}
      currentCategory={category}
      basePath="/projects"
    />

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        projects.map((project) => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>
  </div>
</ContentLayout>
