---
import BaseHead from "@/components/BaseHead.astro";
import type { StructuredDataSchema } from "@/lib/structuredData";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  articleDate?: Date;
  articleModified?: Date;
  structuredData?: StructuredDataSchema;
}

const {
  title,
  description,
  ogImage,
  articleDate,
  articleModified,
  structuredData,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
      articleModified={articleModified}
      structuredData={structuredData}
    />
  </head>
  <body class="font-sans min-h-screen bg-zinc-900">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
