---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Footer from "@/components/Footer.astro";
import type { StructuredDataSchema } from "@/lib/structuredData";

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  articleDate?: Date;
  articleModified?: Date;
  structuredData?: StructuredDataSchema;
}

const {
  title,
  description,
  ogImage,
  articleDate,
  articleModified,
  structuredData,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  ogImage={ogImage}
  articleDate={articleDate}
  articleModified={articleModified}
  structuredData={structuredData}
>
  <main>
    <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh">
      <slot />
    </div>
  </main>
  <Footer />
</BaseLayout>
